.homecontainer {
    text-align: center;
}

.hometitle {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 1rem;
}

.subtitlehome {
    font-size: 1.25rem;
    font-family: 'Courier New', Courier, monospace;
}
